<h1>HOMEPAGE</h1>
<h1>Games & Clips</h1>
<% @games.each do |game| %>
<h2><%= link_to game.name, game_path(game) %></h2>
<%= image_tag(game.img_url) %><br>
<% end%>

<%#only show links if logged in, show text if not%>